{% extends 'base.html' %}
{% load i18n %}
{% block content %}

 <div class="container-fluid">

    <table class="table mt-4">     
        <tr class="row">
            <td class="col-sm-3  text-left "> {% trans "Department:" %} </td>
            <td class="col-sm-9 text-left"> 
                    {% if first %}
                        {{ first.description.department }}
                    {% else %}
                        {{ description.department}}
                    {% endif %}
            </td>
        </tr> 
        <tr class="row">
            <td class="col-sm-3  text-left"> {% trans "Index:" %} </td>
            <td class="col-sm-9  text-left">
                    {% if first %}
                        {{ first.description.index_name }}
                    {% else %}
                        {{ description.index_name}}
                    {% endif %}
            </td>
        </tr>
        <tr class="row">
            <td class="col-sm-3 text-left"> {% trans "Description:" %} </td>
            <td class="col-sm-9  text-left">
                    {% if first %}
                        {{ first.description.description|linebreaks}}
                    {% else %}
                        {{ description.description|linebreaks}}
                    {% endif %}
            </td>                
        </tr>
    </table>  
    
    <table class="table">

            <tr class="row">
                <th class="col-sm-2 text-center">Data1</th>
                <th class="col-sm-2 text-center">Data2</th>
                <th class="col-sm-2 text-center">Index123</th>
            </tr>
            {% for index in object_list %}
                <tr class="row">
                    <td class="col-sm-2 text-center">{{ index.data_one }}</td>
                    <td class="col-sm-2 text-center">{{ index.data_two }}</td>
                    <td class="col-sm-2 text-center">{{ index.calculated_value }}</td>
                    <td></td>
                    <td class="col-sm-4 "><a href="{% url 'sims103:index_update' index.id %}" class="btn btn-sm btn-outline-primary btn-editdelete "> Edit </a> 
                  <a href="{% url 'sims103:index_delete' index.id %}" class="btn btn-sm btn-outline-info btn-editdelete"> Delete</a> </td>
                </tr>
            {% endfor %}
    </table>

    <table class="table table-borderless">
        <tbody>
            <tr class ="row">
                <td class="col-xs-4 "><a href="{% url 'sims103:index_create' %}" class="btn btn-primary btn-custom "> Add  </a> </td>
                <td class="col-xs-4 mr-auto"><a href="{% url 'home' %}" class="btn btn-secondary btn-custom "> Go home </a> </td>
            </tr>
        </tbody> 
    </table> 
</div>

{% endblock content %}

{% block pagination %}
    {% if is_paginated %}
    <div class="container-fluid"> 
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="mr-2"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled mr-2"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active mr-2"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li class="mr-2"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="mr-2"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled mr-2"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

  <script>
        if ( {{ request.session.created }} ) {   // reset the 'create' value to false 
            // var url = $("#page-links").attr("data-page-links");   
            var url = "/103/ajax/change_session/"
            alert(url);              
            $.ajax({
                url: url,
                data: {},
                success: function (data) { 
                }
            }); 
            alert("after ajax333");
            window.location.href = "{{ request.path }}?page={{ page_obj.paginator.num_pages }}"; // redirect
        }; 
  </script>  
    
{% endblock pagination %} 