{% extends "base.html" %}
{% load i18n %}

<!-- from 04.LibraryMozilla -->
{% load crispy_forms_tags %}
{% block title %} {% trans 'Log-in' %} {% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4">
      <div class="col-md-4 col-md-offset-4">

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}

{% if form.errors %}
  <p> {% trans "Your username and password didn't match. Please try again." %} </p>
{% endif %}

{% if next %}       {# [[ routed to this login page from ‘next’ page ]] #} 
  <p>Please login to see this page.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">  <!--  https://overiq.com/django-1-11/django-rendering-form-fields-manually/  -->
  {% csrf_token %}

  <table class="login-table">
    <tr >
      <td>User Name: </td>
      <td>
          {{ form.username.errors }}
          {{ form.username }}                            
      </td>
      <td>
          {% if form.username.help_text %}
            {{ form.username.help_text }}
          {% endif %}
      </td>
    </tr>
    <tr class="login-table">
      <td>Password: </td>
      <td>
          {{ form.password.errors }}
          {{ form.password }}                            
      </td>
      <td>
          {% if form.password.help_text %}
            {{ form.password.help_text }}
          {% endif %}
      </td>
    </tr>
    <tr class="login-table">
        <td></td>
        <td colspan="2"><input type="submit" value="Submit" class="btn btn-info"></td>
    </tr>
    </table>
</form>  

</div>
</div>
</div>

{% endblock %}























{% comment %} 
  <!-- from 2byExample -->
  {% load crispy_forms_tags %}
  {% block title %}Log-in{% endblock %}
  {% block content %}
    <h4> {% trans 'Log-in' %} </h4>
    {% blocktrans %}  Hello {% endblocktrans %} 
    {% if form.errors %}
      <p> {% trans "Your username and password didn't match.  Please try again." %} </p>
    {% else %}
      <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="">
      <form action="{% url 'login' %}" method="post">
        {{ form|crispy }}                            
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" /> 
        <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
  {% endblock %}
{% endcomment %} 

{% comment %} 
  we can access a number of separate items for each field:
  •	{{form.field_name}}: The whole field.
  •	{{form.field_name.errors}}: The list of errors.
  •	{{form.field_name.id_for_label}}: The id of the label.
  •	{{form.field_name.help_text}}: The field help text.
  •	etc!
  Refer to  https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields
{% endcomment %} 