{% extends "base.html" %}
{% load i18n %}

<!-- from 04.LibraryMozilla -->
{% load crispy_forms_tags %}
{% block title %} {% trans 'Log-in' %} {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
        {% endif %}

        {% if form.errors %}
          <p> {% trans "Your username and password didn't match. Please try again." %} </p>
        {% endif %}

        {% if next %}       {# [[ routed to this login page from ‘next’ page ]] #} 
          <p>Please login to see this page.</p>
        {% endif %}
    </div>

    <form method="post" action="{% url 'login' %}">  <!--  https://overiq.com/django-1-11/django-rendering-form-fields-manually/  -->
      {% csrf_token %}
      <div class="row"> 
        <div class="col-2"> User Name: </div>
        <div class="col-2 ml-auto">
            {{ form.username.errors }}
            {{ form.username }}     
        </div>
        <div class="col-8">
          {% if form.username.help_text %}
            {{ form.username.help_text }}
          {% endif %}
        </div>
      </div>
      <div class="row mt-4"> 
        <div class="col-2"> Password: </div>
        <div class="col-2 ml-auto">
            {{ form.password.errors }}
            {{ form.password }} 
        </div>
        <div class="col-8">
          {% if form.password.help_text %}
            {{ form.password.help_text }}
          {% endif %}
        </div>
      </div>
      <div class="row mt-4">
          <div class="col-2"></div>
        <div class="col-2 ml-auto">
            <input type="submit" value="Submit" class="btn btn-outline-info">
        </div>
        <div class="col-8"></div>
      </div>
    </form>  

</div>

{% endblock %}



{% comment %} 
  <!-- from 2byExample -->
  {% load crispy_forms_tags %}
  {% block title %}Log-in{% endblock %}
  {% block content %}
    <h4> {% trans 'Log-in' %} </h4>
    {% blocktrans %}  Hello {% endblocktrans %} 
    {% if form.errors %}
      <p> {% trans "Your username and password didn't match.  Please try again." %} </p>
    {% else %}
      <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="">
      <form action="{% url 'login' %}" method="post">
        {{ form|crispy }}                            
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" /> 
        <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
  {% endblock %}
{% endcomment %} 

{% comment %} 
  we can access a number of separate items for each field:
  •	{{form.field_name}}: The whole field.
  •	{{form.field_name.errors}}: The list of errors.
  •	{{form.field_name.id_for_label}}: The id of the label.
  •	{{form.field_name.help_text}}: The field help text.
  •	etc!
  Refer to  https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields
{% endcomment %} 