{% extends "base.html" %}

{% comment %} 
  <!-- from 2byExample -->
  {% load crispy_forms_tags %}
  {% block title %}Log-in{% endblock %}
  {% block content %}
    <h4>Log-in</h4>
    {% if form.errors %}
      <p> Your username and password didn't match.  Please try again. </p>
    {% else %}
      <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="">
      <form action="{% url 'login' %}" method="post">
        {{ form|crispy }}                            
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" /> 
        <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
  {% endblock %}
{% endcomment %} 


<!-- from 04.LibraryMozilla -->
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}       {# [[ routed to this login page from ‘next’ page ]] #} 
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
      {% else %}
      <p>Please login to see this page.</p>
      {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mt-3">           
      <!-- <td>{{ form.username.label_tag }}</td>  -->
      <td>{{ form.username|as_crispy_field  }}</td>
    </div>
    <div class="mt-3">
      <!-- <td>{{ form.password.label_tag }}</td>  -->
      <td>{{ form.password|as_crispy_field }}</td>
    </div>
    <div class="mt-3">
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>

  {# If you setup the password_reset view in your URLconf #}
  {#  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>  #}

{% endblock %}


{% comment %} 
  we can access a number of separate items for each field:
  •	{{form.field_name}}: The whole field.
  •	{{form.field_name.errors}}: The list of errors.
  •	{{form.field_name.id_for_label}}: The id of the label.
  •	{{form.field_name.help_text}}: The field help text.
  •	etc!
  Refer to  https://docs.djangoproject.com/en/2.2/topics/forms/#looping-over-the-form-s-fields
{% endcomment %} 