{% extends 'base.html' %}
{% block content %}


 <div class="container-fluid">

    <table class="table">
        <tr class="row">
            <td class="col-sm-2 col-xs-3 text-left">Department: </td>
            <td class="col-sm-10 col-xs-9 text-left">{{ first.description.department }} </td>
        </tr> 
        <tr class="row">
            <td class="col-sm-2 col-xs-3 text-left">Index: </td>
            <td class="col-sm-10 col-xs-9 text-left">{{ first.description.index_name }} </td>
        </tr>
        <tr class="row">
            <td class="col-sm-2 col-xs-3 text-left">Description: </td>
            <td class="col-sm-10 col-xs-9 text-left">{{ first.description.description|linebreaks }} </td>
        </tr>
    </table>   
    
    <table class="table">

            <tr class="row">
                <th class="col-sm-2 text-center">Data1</th>
                <th class="col-sm-2 text-center">Data2</th>
                <th class="col-sm-2 text-center">Index123</th>
            </tr>
            {% for index in object_list %}
                <tr class="row">
                    <td class="col-sm-2 text-center">{{ index.data_one }}</td>
                    <td class="col-sm-2 text-center">{{ index.data_two }}</td>
                    <td class="col-sm-2 text-center">{{ index.calculated_value }}</td>
                    <td></td>
                    <td class="col-lg-1 col-sm-2"><a href="{% url 'sims101:index_update' index.id %}" class="btn btn-sm btn-outline-primary btn-editdelete "> Edit </a> </td>
                    <td class="col-lg-1 col-sm-2"><a href="{% url 'sims101:index_delete' index.id %}" class="btn btn-sm btn-outline-info btn-editdelete"> Delete</a> </td>
                </tr>
            {% endfor %}
    </table>

    <table class="table table-borderless">
        <tbody>
            <tr class ="row">
                <td class="col-xs-4 "><a href="{% url 'sims101:index_create' %}" class="btn btn-primary btn-custom "> Add  </a> </td>
                <td class="col-xs-4 mr-auto"><a href="{% url 'home' %}" class="btn btn-secondary btn-custom "> Go home </a> </td>
            </tr>
        </tbody> 
    </table> 
</div>

{% endblock content %}
{% block pagination %}
  {% if is_paginated %}
    <div class="container-fluid"> 
      <div class="pagination">
          <span class="page-links" id="page-links" data-page-links="{% url  'sims101:ajax_change_session' %}">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.start_index }}"> first </a>
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"> previous </a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"> next </a>

                  <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" > last </a>

              {% endif %}
          </span>
      </div>
    </div>
  {% endif %}

  <script>



    alert( {{ request.session.created }} ); 


        // $(document).ready(function () {  // always execute this function to update the dropdown // $ is a shortcut for jQuery
        if ( {{ request.session.created }} ) {
            

            var url = $("#page-links").attr("data-page-links");   
            alert(url);
            $.ajax({
                url: url,
                data: {
                },
                success: function (data) { }
            }); 
            alert("HHHH");
            window.location.href = "{{ request.path }}?page={{ page_obj.paginator.num_pages }}"; 


        }; 

        // and ({{ page_obj.number }} !== {{ page_obj.paginator.num_pages }}) {
        //     alert("HIkkkk");
        //     request.session.created = ""; 
        //     window.location.href = "{{ request.path }}?page={{ page_obj.paginator.num_pages }}"; 
        // }
        

  </script>  
    
{% endblock pagination %} 