{% extends 'base.html' %}
{% block content %}


 <div class="container-fluid">

    <table class="table">
        <tr class="row">
            <td class="col-xs-3 col-sm-2 text-left">Department: </td>
            <td class="col-xs-4 col-sm-3 text-left">{{ first.description.department }} </td>
        </tr> 
        <tr class="row">
            <td class="col-xs-3 col-sm-2 text-left">Index: </td>
            <td class="col-xs-4 col-sm-3 text-left">{{ first.description.index_name }} </td>
        </tr>
        <tr class="row">
            <td class="col-xs-3 col-sm-2 text-left">Description: </td>
            <td class="col-xs-8 col-sm-9 text-left">{{ first.description.description|linebreaks }} </td>
        </tr>
    </table>    
    <table class="table">
        <thead>
            <tr class="row">
                <th class="col-xs-3 col-sm-2 text-center">Data1</th>
                <th class="col-xs-3 col-sm-2 text-center">Data2</th>
                <th class="col-xs-3 col-sm-2 text-center">Index123</th>
            </tr>
        </thead>
        <tbody>
            {% for index in object_list %}
                <tr class="row">
                    <td class="col-xs-3 col-sm-2 text-center">{{ index.data_one }}</td>
                    <td class="col-xs-3 col-sm-2 text-center">{{ index.data_two }}</td>
                    <td class="col-xs-3 col-sm-2 text-center">{{ index.calculated_value }}</td>
                    <td class="col-xs-3 col-sm-2"><a href="{% url 'sims101:index_update' index.id %}" class="btn btn-detail btn-primary btn-sm"> Edit </a> </td>
                    <td class="col-xs-3 col-sm-2"><a href="{% url 'sims101:index_delete' index.id %}" class="btn btn-detail btn-info btn-sm"> Delete</a> </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-borderless">
        <tbody>
            <tr class ="row">
                <td class="col-xs-6 "><a href="{% url 'sims101:index_create' %}" class="btn btn-primary "> Add new data </a> </td>
                <td class="col-xs-6 mr-auto"><a href="{% url 'home' %}" class="btn btn-secondary "> Go home </a> </td>
            </tr>
        </tbody> 
    </table> 
</div>

{% endblock content %}
{% block pagination %}
  {% if is_paginated %}
    <div class="container-fluid"> 
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                      previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                      next</a>
              {% endif %}
          </span>
      </div>
    </div>
  {% endif %}
{% endblock pagination %} 



